---
import '@/main.css';
import SideBar from '../layouts/side.astro';
import ImportLucide from '../layouts/lucide.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <meta name="generator" content={Astro.generator} />
    <title>Lunar v2</title>
    <meta
      name="description"
      content="Lunar v2 is a modern, browser inspired tabbed web prr0xy with a tab system, ad blocking, and fast speeds."
    />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <script src="@scripts/config"></script>
    <script src="@scripts/index"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
     <script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-DQZPCVEF89"></script>
    <script is:inline>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
          window.dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'G-DQZPCVEF89');
       
      </script>     
  </head>
  <body class="flex h-screen w-screen overflow-hidden text-white">
    <SideBar />
    <div class="h-dvh flex-1">
      <iframe id="frame" src="/welcome" class="h-full w-full border-none"></iframe>
    </div>
    <ImportLucide />
  </body>
</html>
