---
import '@/main.css';
import AppLayout from '../components/asset.astro';
import apList from '@assets/json/lists.json';

const aList = apList.aps;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lunar Apps</title>
     <script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-DQZPCVEF89"></script>
    <script is:inline>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
          window.dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'G-DQZPCVEF89');
       
      </script>
    <style>
      
      * {
        scrollbar-width: none;
      }
      *::-webkit-scrollbar {
        display: none;
      }
    </style>   
  </head>
  <body>
    <script is:inline src="/bm/index.js"></script>
    <script is:inline src="/data/all.js"></script>
    <script is:inline src="/tmp/config.js"></script>
    <script is:inline src="/tmp/bundle.js"></script>
    <AppLayout list={aList} type="app" />
  </body>
</html>